
/*       FONTS    */



body{
  font-family:  'Lato', sans-serif;
  font-weight: 300;

}
h1, h2{
  font-family: 'Vollkorn', serif;
  font-weight: 800;

}
h2 .btn, a{
  color:#168da6;
}

h3{
  font-family:  'Lato', sans-serif;
  font-weight: 100;
  line-height: 2.2rem;
}

h6, strong{
  font-weight: bold;
}



/*     FONTS  END    */



/* Changes Carousel */



  .carousel-inner{
      padding: 2rem 0rem 4rem 0rem;
    }

  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-caption {
    text-shadow: none;
    color:#818a91;
    top:90%;
    font-size: 90%;
  }



/* Changes Carousel END */



#spam img{
  border: 1px solid lightgray;
  margin: 50px;
}



/* SAFARI ONLY imgs size */



@media not all and (min-resolution:.001dpcm) {
    @media {
        #spam img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm)and (max-width: 600px) {
    #spam img {
        width: 100%;

    }
}



/* SAFARI ONLY imgs size */



/* SAFARI ONLY svg size */



  .section_1 #hello:not(:root:root){
    width: 50% !important;
}



/* SAFARI ONLY svg size END */



/*           RESPONSIVE       */



@media only screen and (max-width: 600px) {

    h3{
      font-weight: 300;
    }
    .tears_dw{
      display: none;
    }

    #hello{
      margin: 10%;
    }

    header{
      margin:50px 0px 100px 0px;
    }

    #about_img{
      width:100%;
      margin:0px 0px 50px 0px;
    }

    .section_2_mobile {
      margin: 0px 0px 100px 0px;
    }

    #car{
      margin: 5%;
    }

    .section_4{
      margin: 100px 0px 100px 0px;
    }

    .section_1, .section_2, .section_3{
      display: none;
    }

    #back_btn{
      margin-left: 0% !important;
    }

    /*   Abstract Layers ---- Food art and ads ---- Spot illustrations ---     */

    #plane_gif, #device_final_carousel, #all_final_gif, #old_carousel,#burgy,#bike,#love_gif,#pizza_friends,#minis_sketches,#final_spot_illustrations,#devices_web{
      width: 100%;
    }
}



@media screen and (max-width: 1200px) and (min-width: 600px) {

  .section_1_mobile, .section_2_mobile, .section_3_mobile{
    display: none;
  }

  .tears_mw{
    display: none;
  }
}



@media only screen and (min-width: 1200px) {

  .tears_mw{
    display: none;
  }

  #carouselExampleControls, #map_levels{
    width: 50%;
    margin: auto;
  }

  /*   Abstract Layers ---- Food art and ads ---- Spot illustrations ---     */

  #plane_gif, #device_final_carousel, #all_final_gif,#burgy,#bike,#love_gif,#pizza_friends,#minis_sketches,#final_spot_illustrations,#devices_web{
    width: 60%;
  }

  #old_carousel{
    width: 100%;
  }

  .section_1_mobile, .section_2_mobile, .section_3_mobile{
    display: none;
  }
}
