

body{
  font-family:  'Lato', sans-serif;
  font-weight: 300;


}
h1, h2{
  font-family: 'Vollkorn', serif;
  font-weight: 800;

}
h2 .btn, a{
  color:#168da6;
}
h3{
  font-family:  'Lato', sans-serif;
  font-weight: 100;
  line-height: 2.2rem;
}

h6, strong{
  font-weight: bold;
}



/*      ++++++++    Desktop    +++++++++++++++*/



  /* Changes Carousel */



  .carousel-inner{
      padding: 2rem 0rem 4rem 0rem;
    }



  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

/*
  .carousel-caption {
    text-shadow: none;
    top: 550px;
    color:#818a91;
    font-size: 14.4px;
  }
*/

  /* Changes Carousel END */











#spam img{
  border: 1px solid lightgray;
  margin: 50px;
}



/* SAFARI ONLY svg size */

  .section_1 #hello:not(:root:root){
    width: 50% !important;
}

/* SAFARI ONLY svg size END */


/*      ++++++++    Desktop END    +++++++++++++++*/


/*      ++++++++    Mobile    +++++++++++++++*/




@media (max-width: 375px) {

/*   INDEX   */

  .tears_dw{
    display: none;
  }

  #hello{
    margin: 10%;
  }

  header{
    margin:50px 0px 100px 0px;
  }


  #about_img{
    width:100%;
    margin:0px 0px 50px 0px;
  }

  .section_2_mobile {
    margin: 0px 0px 100px 0px;
  }

  #car{
    margin: 5%;
  }

  .section_4{
    margin: 100px 0px 100px 0px;
  }
  /*   INDEX END  */


  /*   PROJECTS */

  /*   Abstract Layers */

  #plane_gif, #device_final_carousel, #all_final_gif, #old_carousel{
    width: 100%;
  }

  /*   Food art and ads  */

  #burgy,#bike,#love_gif,#pizza_friends{
    width: 100%;
  }

  /*   Spot illustrations  */


  #minis_sketches,#final_spot_illustrations,#devices_web{
    width: 100%;
  }
  .carousel-caption {
    text-shadow: none;
    color:#818a91;
    font-size: 14.4px;
    top: 300px;
  }




 }


 @media (min-width: 1200px) {
   .tears_mw{
     display: none;
   }
  }























/*      ++++++++    Mobile END    +++++++++++++++*/
