body{
  font-family: 'Lato', sans-serif;


}
h1{
  font-weight: 900;
}


/* Clean accordion*/

.btn{
  padding: 0rem;
}
.card{
  border:0px;
}
.card-header{
  padding: 1rem 0rem;
  border-bottom: 0px;
  /*background-color: #ffffff;*/
}
.card-body{
  padding: 0px;
}


/* Resize images in carousel */


@media (min-width: 992px) {
  .carousel-inner{
    padding: 0rem 14rem 0rem 14rem;
  }
}
